*{
    padding:0;
    margin:0;
    color: white;
}
#navbar {
    height:60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}
#logo {
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 60px;
}

.myclass5{
    text-align: center;
}
body{
    background-color: #131212;
}

.myclass5 h1{

    font-size: 160px;
    color: #ffffff;
    font-weight: 600;
    position: relative;
    top: 100px;

}
.myclass5 a{
    text-decoration: none;
    display: inline-block;
    padding: 14px 70px;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    margin-top: 50px;
    position: relative;
    left: 60px;
    top: 50px;
}
.video1{
    position:relative;
    right: 50px;
    bottom:1000px;
    bottom:300px;
    left: 0;
    z-index: -1;
    background-size: cover;
}
@media(min-aspect-ratio:16/9){
    .video1{
        width:100%;
        height:100%;
    }
}

@media(max-aspect-ratio:16/9){
    .video1{
        width:auto;
        height:500%;
    }
}
