*{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}
.myclass3{
    position: relative;
    bottom: 1350px;
    right: 170px;
}
h1{
    color: aqua;
}
.myclass4{
    color: greenyellow;
}
.class5{
    color: black;
}